body {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  /* background-color: #78cccb; */
  align-items: center;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  border-style: solid;
  border-color: rgb(246, 68, 68);
  border-width: 80px 100px 80px;
  border-radius: 8px;
  width: 500px;
  height: 500px;
  background-color: lavenderblush;
  margin: 20px;
  display: grid;
}

/* .grid-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(243, 92, 200);
} */

.--black-cell {
  background-color: black;
}
