body {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.top-buttons {
  position: relative;
  display: flex;
  top: 45px;
  padding-left: 180px;
  padding-right: 180px;
}

.bottom-buttons {
  position: relative;
  bottom: 45px;
}

.mode {
  /* position: relative;
  top: 0px; */
  height: 70px;
  width: 400px;

  border-style: solid;
  border-color: rgb(158, 152, 152);
  background-color: rgb(38, 30, 30);
  padding: 10px;
  margin: 0;

  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 900;
  color: greenyellow;
}

button {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  border-style: solid;
  border-color: #ff5e5b;
  /* border-width: 160px 200px 130px; */
  border-width: 60px 200px 60px;
  border-radius: 8px;
  width: 450px;
  height: 450px;
  background-color: lavenderblush;
  margin: 0px;
  display: grid;
}

.--black-cell {
  background-color: black;
}

button {
  background-color: yellow;
  border-color: rgb(58, 58, 58);
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
}

button:hover {
  background-color: rgb(50, 62, 127);
  color: aliceblue;
  border-color: aliceblue;
}
